.w-100{
  height:465px;
}
.nav-link{
  color: white !important;
}
.btn-outline-success{
  --bs-btn-color:white !important;
}
.carousel-control-prev-icon{
  background-color: black;
  
}
.carousel-control-next-icon{
  background-color: black;
}
p{
  margin-top: 20px;
}
.img-thumbnail{
  width:100%;
  height: 100%;
}
.img-2{
  margin-top: -15%;
}
.items-row {
  margin-bottom: 80px;
}

.items-row label {
  float: right;
}
h4{
  margin-top: 20px;
  color: black;
}
h1{
  color: black;
}
.modal-body size-right{
  padding-right: 60%;
}
